<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jakov.wherewasi">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoggedInActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".QuickInputActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LogViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StartLogActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DialogActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SearchResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SearchActivity"
            android:screenOrientation="portrait" />

        <service android:name=".GPS_Service" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAV0zQ0zdT6jQviqVhhJkV-LjO3-ZnsspU" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3775405938489529~5074959444" />

        <activity
            android:name=".GifActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".SendMailActivity" />
        <activity android:name=".MapActivity" />
        <activity android:name=".ViewActivity"></activity>
    </application>

</manifest>