<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jakov.wherewasi">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoggedInActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".QuickInputActivity" />
        <activity android:name=".LogViewActivity" />
        <activity android:name=".StartLogActivity" />
        <activity android:name=".DialogActivity" />
        <activity android:name=".SearchResultActivity" />
        <activity android:name=".SearchActivity" />

        <service android:name=".GPS_Service" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAV0zQ0zdT6jQviqVhhJkV-LjO3-ZnsspU" />

        <activity android:name=".GifActivity"></activity>
    </application>

</manifest>